.logo{
	width: 10%;
	height: 10%;
}
.bcr
{
	background-color: maroon;
	border-radius: 10px;
	padding: 10px;
}
.mainbcr
{
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}
.flopad
{
	float: left;
	padding: 10px;

}
.txtpad
{
	text-align: left;
	padding: 10px;
	margin-left: 10px;
}
.flomar{
	float: left;
	margin-left: 10px;
}